.login-button{
  display: flex;
  justify-content: flex-end;
  margin: 30px;
}

.nav-section{
  display: flex;
  justify-content: center;
}

.menu-list{
  display: flex;
  list-style-type: none;
}

.menu-list li{
  padding: 10px;
}

.menu-area {
  display: flex;
  justify-content: center; /* 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  flex-grow: 1; /* 남은 공간을 모두 차지하도록 확장 */
}

.Search-area {
  margin-left: 400px; /* 오른쪽으로 이동 */
}